section{
  padding: 2rem 9%;  
}

.home{
    display: flex;
    padding: 0;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(../images/img.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
    padding-left: 9%;
}

.home .content h3{
    font-size: 6rem;
    color: #eee;
}

.home .content span{
    font-size: 3.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content span{
    font-size: 1.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #fff;
    color: #333;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--pink);
}