.nav {
  display: flex;
  justify-content: flex-end;
   width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #422C81;
    color: #ffffff;
    font-size: 0.95rem;
    position: fixed;
    top: 1;
    left: 0;
    z-index: 100;
}

/* Button styling */
.nav button {
  background-color: #ffffff;
  color: #422C81;

  border: none;
  border-radius: 20px;

  padding: 0.45rem 1.2rem;
  font-size: 0.85rem;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover effect */
.nav button:hover {
  background-color: #f0ecff;
  transform: translateY(-1px);
}

/* Active click */
.nav button:active {
  transform: scale(0.97);
}

/* Mobile */
@media (max-width: 768px) {
  .nav {
    justify-content: center;
    padding: 0.5rem 0;
  }
}
