.product .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.main {
  padding-top: 10rem;     /* header height */
  padding-bottom: 6rem;  /* footer height */
}

.product .box-container .box{
  flex:1 1 30rem;
  box-shadow: 0  .5rem 1.5rem rgb(0, 0, 0, .1);
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
}

.product .box-container .box .image{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.product .box-container .box .image img{
  height: 25rem;
}

.product .box-container .box:hover .image img{
  transform: scale(1.1);
}

.product .box-container .box .image .icons{
  position: absolute;
  bottom: -7rem; left: 0; right: 0;
  display: flex;
}

.product .box-container .box:hover .image .icons{
  bottom: 0;
}

.product .box-container .box .image .icons a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: #422C81;
  color: #fff;
}

.product .box-container .box .image .icons .cart-btn{
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width: 100%;
}

.product .box-container .box .image .icons a:hover{
  background: #333;
}

.product .box-container .box .content{
  padding: 2rem;
  text-align: center;
}

.product .box-container .box .content h3{
  font-size: 2.5rem;
  color: #333;
}

.product .box-container .box .content .price{
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.product .box-container .box .content .price span{
  font-size:2.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}